.button {
	@apply flex items-center justify-center rounded-primary text-button duration-150
    /* Size */
    px-md py-xs;
}

.button.primary {
	@apply /* Default */
    bg-accent text-white

    /* Hover */
    hover:ring-primary hover:ring-accent/20

    /* Focus */
    focus:ring-primary focus:ring-accent/40
    
    /* Disabled */
    disabled:bg-accent/50 disabled:cursor-not-allowed;
}

.button.secondary {
	@apply /* Default */
    bg-secondary  border-thin

    /* Hover */
    hover:ring-primary hover:ring-primary/20

    /* Focus */
    focus:ring-primary focus:ring-primary/40
    
    /* Disabled */
    disabled:bg-accent/50 disabled:cursor-not-allowed;
}

.button.success {
	@apply /* Default */
    bg-success text-white

    /* Hover */
    hover:ring-primary hover:ring-success/20

    /* Focus */
    focus:ring-primary focus:ring-success/40
    
    /* Disabled */
    disabled:bg-success/50 disabled:cursor-not-allowed;
}

.button.warning {
	@apply /* Default */
    bg-warning text-white

    /* Hover */
    hover:ring-primary hover:ring-warning/20

    /* Focus */
    focus:ring-primary focus:ring-warning/40
    
    /* Disabled */
    disabled:bg-warning/50 disabled:cursor-not-allowed;
}

.button.danger {
	@apply /* Default */
    bg-error text-white

    /* Hover */
    hover:ring-primary hover:ring-error/20

    /* Focus */
    focus:ring-primary focus:ring-error/40
    
    /* Disabled */
    disabled:bg-error/50 disabled:cursor-not-allowed;
}
